<form ngForm #assignementForm class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="assignementName" name="name" placeholder="Nom du devoir" required>
    </mat-form-field>

    <p>{{ assignementName }}</p>

    <mat-form-field appearance="fill">
        <input 
            matInput 
            [matDatepicker]="picker"
            placeholder="Date de rendu"
            [(ngModel)]="dateDelivery" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <button
        mat-stroked-button
        (click)="onSubmit(); assignementForm.reset()"
        routerLink="/home"
    >
        Ajouter un devoir
    </button>
</form>