<form ngForm #assignementForm class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="assignementName" name="name" placeholder="Nom du devoir" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="auteur" name="auteur" placeholder="auteur" required>
      </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>matiere</mat-label>
      <mat-select [(ngModel)]="subject" name="matiere">
        <mat-option *ngFor="let matiere of subjectList" [value]="matiere.name">
          {{matiere.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>note</mat-label>
      <mat-select [(ngModel)]="note" name="note">
        <mat-option *ngFor="let note of notes" [value]="note">
          {{note}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="remarque" name="remarque" placeholder="Remarque">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input 
            matInput 
            [matDatepicker]="picker"
            placeholder="Date de rendu"
            [(ngModel)]="dateDelivery" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <button
        mat-stroked-button
        (click)="onSubmit(); assignementForm.reset()"
        routerLink="/home"
    >
        Ajouter un devoir
    </button>
</form>