<mat-toolbar>
    <button routerLink="/" class="home-icon" aria-label="home-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Assignements App</span>
    <button *ngIf="!isLogin" mat-icon-button class="connection-icon" aria-label="connection-button with heart icon">
        <mat-icon>face</mat-icon>
        <span>Connection</span>
    </button>
    <div *ngIf="isLogin" mat-icon-button class="connection-icon" aria-label="connection-button with heart icon">
        <mat-icon>face</mat-icon>
    </div>
</mat-toolbar>