<main>
    <div class="login-section">
        <h1 class="login-title">Login to Your Account</h1>
        <p class="login-description">Login using your Email and Password</p>
        <mat-divider></mat-divider>
        <!-- <form ngForm #loginForm="ngForm" class="form">
            <mat-form-field>
                <input matInput name="Login" placeholder="Email Address" required [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="Password" placeholder="Password" required [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <button [disabled]="!loginForm.valid" class="login-button" mat-stroked-button (click)="onSubmit()">
                Se connecter
            </button>
        </form> -->
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
                    Email must be a valid email
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>
            <button [disabled]="!loginForm.valid" class="login-button" mat-stroked-button>
                Se connecter
            </button>
        </form>
    </div>
    <div class="login-signup">
        <mat-divider></mat-divider>
        <a routerLink="/signup">Don't have an account? Sign Up</a>
    </div>
</main>