.main {
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  position: relative;
}

mat-toolbar {
  position: relative;
  background-color: #fffffe;
}

.connection-icon {
  position: absolute;
  right: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  .mat-icon {
    &:hover {
      cursor: pointer;
    }
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}