<mat-toolbar>
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    <button routerLink="/home" class="home-icon" aria-label="home-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Assignements App</span>
    <button mat-icon-button class="connection-icon" aria-label="connection-button with heart icon">
        <mat-icon>face</mat-icon>
        <span>Connection</span>
    </button>
    <mat-slide-toggle (click)="login()"></mat-slide-toggle>
</mat-toolbar>
<app-sidenav #sidenav></app-sidenav>