.container {
    display: flex;
    flex-direction: column;
}

.addButton {
    align-self: flex-end;
}

.rendu {
    color: #3da9fc
}

.non_rendu {
    color: #ef4565;
}

button {
    background-color: #3da9fc;
    color: #fffffe
}