<!-- [ngStyle]="{'color': item.rendu ? 'green' : 'red'}" -->

<!-- <div 
    *ngFor="let item of assignements"
    [ngClass]="{'rendu': item.rendu, 'non_rendu': !item.rendu}">
    <p *ngIf="item.rendu; else nonsoumis">
        Devoir intitulé {{item.nom}}, rendu le {{item.dateRendu}}.
    </p>
    <ng-template #nonsoumis>
        Le devoir {{item.nom}} n'a pas été rendu.
    </ng-template>
</div> -->

<div class="toolbar-container">
    <app-toolbar></app-toolbar>
</div>

<div class="side-navbar">
    <app-sidenav></app-sidenav>
</div>

<main class="container">
    <button
        class="addButton"
        mat-flat-button color ='accent'
        routerLink="/add"> 
            Ajouter Assignement 
    </button>
    <mat-list *ngFor="let item of assignements">
        <nav><a routerLink="/assignement/{{item.id}}">
            <h3 mat-subheader>{{ item.dateDelivery | date }}</h3>
            <mat-list-item (click)="selectAssignement(item)">
                <p appRendu *ngIf="item.rendered; else nonsoumis">
                    Devoir intitulé {{item.nom}}, rendu le {{item.dateDelivery | date }}.
                </p>
                <ng-template #nonsoumis>
                    <label class="non_rendu">Le devoir {{item.nom}} n'a pas été rendu.</label>
                </ng-template>
                <mat-divider></mat-divider>
            </mat-list-item>
        </a></nav>
    </mat-list>
</main>