<!-- [ngStyle]="{'color': item.rendu ? 'green' : 'red'}" -->

<!-- <div 
    *ngFor="let item of assignements"
    [ngClass]="{'rendu': item.rendu, 'non_rendu': !item.rendu}">
    <p *ngIf="item.rendu; else nonsoumis">
        Devoir intitulé {{item.nom}}, rendu le {{item.dateRendu}}.
    </p>
    <ng-template #nonsoumis>
        Le devoir {{item.nom}} n'a pas été rendu.
    </ng-template>
</div> -->
<main class="container" *ngIf="!formVisible">
    <button
        class="addButton"
        mat-flat-button color ='accent'
        (click)="onAddAssignementButtonClick()"> 
            Ajouter Assignement 
    </button>
    <mat-list *ngFor="let item of assignements">
        <h3 mat-subheader>{{ item.dateDelivery | date }}</h3>
        <mat-list-item (click)="selectAssignement(item)">
            <p appRendu *ngIf="item.rendered; else nonsoumis">
                Devoir intitulé {{item.nom}}, rendu le {{item.dateDelivery | date }}.
            </p>
            <ng-template #nonsoumis>
                <label class="non_rendu">Le devoir {{item.nom}} n'a pas été rendu.</label>
            </ng-template>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <app-assignement-detail
        [assignement]="activeAssignement"
        (assignementToDelete)="deleteAssignement($event)">
    </app-assignement-detail>
</main>

<app-add-assignement 
    *ngIf="formVisible"
    (newAssignementOutput)="onNewAssignement($event)"
    >
</app-add-assignement>