.container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 0 10%;
}

.addButton {
    align-self: flex-end;
}

.rendu {
    color: #3da9fc
}

.non_rendu {
    color: #ef4565;
}

button {
    background-color: #3da9fc;
    color: #fffffe
}

.side-navbar {
    position: absolute; 
  }
  
.toolbar-container {
  position: absolute;
  width: 84%;
  left: 175px;
}

.main-content {
  margin-left: 20%;
}

h1 {
  color: #094067;
}