

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #d8eefe;
}

.mat-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-list-item-content {
  padding: 40px;
  font-family: 'Satoshi-Black';
  font-size: 16px;
  border-bottom: 1px solid black;
}

.mat-sidenav-content{
  min-height: calc(100vh - 64px);
}