/* You can add global styles to this file, and also import other style files */
@import url('assets/css/satoshi.css');
@import './styles/index.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: $main-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: $tertiary-color;
}

.form {
    display: flex;
    flex-direction: column;

    .mat-form-field {
        height: 48px;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 0 0;
        transition: border-color 0.2 ease;
        margin-bottom: 1rem;
    }

    .mat-focused {
        border: 1px solid black;
    }
}