@import '../../styles/index.scss';

main {
    box-sizing: border-box;
    .home-page-content {
        max-width: 100%;
        min-height: calc(100vh - 64px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .home-page-title {
            font-family: 'Satoshi-Black';
            font-size: 7rem;
        }
        .home-page-description {
            font-family: 'Satoshi-Light';
            font-size: 1.5rem;
            max-width: 780px;
            text-align: center;
        }
        .home-page-buttons-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0 auto 24px;
            .button-padding {
                padding: 12px
            }
        }
    }
}