<main>
    <div class="home-page-content">
        <h1 class="home-page-title"><span class="text-gradient">Assignements</span> App</h1>
        <h2 class="home-page-description">Que voulez-vous faire ?</h2>
        <div class="home-page-buttons-container">
            <div *ngIf="!isLogin" class="button-padding">
                <button routerLink="/login" class="button main-button" mat-stroked-button>
                    Se connecter
                </button>
                <button routerLink="/signup" class="button secondary-button" mat-stroked-button>
                    Sign-Up
                </button>
            </div>
            <div *ngIf="isLogin" class="button-padding">
                <button routerLink="/assignements"class="button secondary-button" mat-stroked-button>
                    Consulter
                </button>
            </div>
        </div>
        <div class="home-page-img" >
            <h2 class="home-page-description">Bienvenue sur notre site de gestion de devoirs, l'endroit idéal pour vous aider à organiser vos tâches et à suivre vos progrès. Avec notre plateforme intuitive et facile à utiliser, vous pouvez planifier vos devoirs, et suivre vos réalisations en temps réel. Rejoignez-nous dès maintenant et simplifiez votre vie scolaire!</h2>
        </div>
    </div>
</main>