<main>
    <div class="home-page-content">
        <h1 class="home-page-title"><span class="text-gradient">Assignements</span> App</h1>
        <h2 class="home-page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta augue vel magna volutpat tincidunt. Etiam eget ante massa.</h2>
        <div class="home-page-buttons-container">
            <div class="button-padding">
                <button routerLink="/login" class="button main-button" mat-stroked-button>
                    Se connecter
                </button>
            </div>
            <div class="button-padding">
                <button routerLink="/home"class="button secondary-button" mat-stroked-button>
                    Consulter
                </button>
            </div>
        </div>
        <div class="home-page-img" >
            <h2 class="home-page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta augue vel magna volutpat tincidunt. Etiam eget ante massa. In fringilla ligula eget convallis tempor. Phasellus libero arcu, pretium eu dignissim quis, faucibus quis purus. Praesent condimentum nec massa eu fermentum. Vivamus eget mi vitae nunc ornare eleifend. Praesent ornare lectus lectus, quis rutrum quam posuere at. Ut ullamcorper nisl augue, lobortis commodo diam facilisis eu. Vestibulum ligula tellus, viverra eu laoreet id, convallis vel risus. Proin placerat libero vel mauris vulputate varius. Ut id dui non sem scelerisque pretium at et mauris. Sed porta egestas est in feugiat. Etiam nec molestie dui. Morbi auctor lobortis bibendum. Vivamus vel nisl nisi.</h2>
        </div>
    </div>
</main>